<% if @layout_components.present? %>
  <div class="space-y-12 sm:space-y-16">
    <% @layout_components.each do |component_config| %>
      <% component = PageLayouts::ComponentRegistry.find(component_config["type"]) %>
      <% next unless component %>
      <%= render component.component_class.new(config: component_config["config"] || component.default_config) %>
    <% end %>
  </div>
<% else %>
  <div class="space-y-16 sm:space-y-20">
    <%= render "pages/hero_banner" %>

    <%= render "pages/featured_products" %>

    <%= render "pages/categories" %>

    <%= render "pages/promotional_banner" %>

    <section class="rounded-3xl border border-gray-200 bg-white p-8 shadow-sm">
      <%= render "pages/newsletter/form", newsletter_subscription: @newsletter_subscription %>
    </section>
  </div>
<% end %>
